@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
} 

body{
    background-image: url("https://images.unsplash.com/photo-1467810563316-b5476525c0f9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80");
    font-family: "Popplins" ,sans-serif;
    background-size: cover;
    background-position: center center;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-weight:normal;
    font-size: 4rem;
    margin-top: 5rem;
}

.countdown-container{
    display: flex;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
    margin: 0 2rem;
}

.countdown-el {
    text-align: center;
}


.countdown-el span {
    font-size: 1.3rem;
}